.wrapper {
	border-radius: 20px;
	margin: 0 auto;
	width: calc(100% - 3rem);

	.title {
		margin-top: 20px;
		font-size: 55px;
		text-align: center;
		font-weight: 200;
		margin-bottom: 20px;
		color: coral;
	}
	h3 {
		text-align: center;
		color: #ccc;
	}
	@media (max-width: 650px) {
		width: calc(100% - 1rem);
		.title {
			font-size: 22px;
		}
		h3 {
			font-size: 18px;
		}
	}
	.search__form {
		width: 700px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 50px;

		.search__input {
			padding-left: 10px;
			font-size: 18px;
			outline: none;
			border: 1px solid coral;
			border-radius: 10px 0px 0px 10px;
			width: 500px;
			height: 40px;
		}
		.search__button {
			cursor: pointer;
			outline: none;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 0px 10px 10px 0px;
			border-left: none;
			width: 100px;
			height: 40px;
			background-color: coral;
			transition: 0.25s ease-in-out;

			&:hover {
				background-color: #fff;
				border-color: coral;
				svg {
					path {
						stroke: coral;
					}
				}
			}
		}
		@media (max-width: 840px) {
			width: 100%;
			.search__input {
				width: 200px;
			}
		}
		@media (max-width: 650px) {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.search__input {
				width: 200px;
			}
		}
		@media (max-width: 400px) {
			.search__input {
				width: 100px;
			}
			.block {
				display: none;
				grid-template-columns: 200px;
			}
		}
	}
	.loaded {
		margin-top: 120px;
		text-align: center;
	}

	.block {
		width: calc(100% - 20rem);
		margin: 0 auto;
		display: grid;
		grid-template-columns: 301px 301px 301px;
		gap: 55px;

		@media (max-width: 400px) {
			width: 100%;
			display: grid;
			grid-template-columns: 300px;

			.container__block {
				width: 100%;
				button {
					width: 20px;
				}
			}
		}
	}
}
